@import url(https://github.com/googlefonts/Michroma-font);

body {
    font-family: "Quicksand", sans-serif;

    background-color: rgb(58, 245, 129);
    color: rgb(238, 234, 31);

    display: flex;
    align-items: center;
    justify-content: center;

    min-height: 100vh;
    margin: 0;
}

.game-container {
    background-color: green;

    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgb(20, 228, 228);
    
    width: 90%;
    max-width: 650px;
    text-align: center;

    transition: transform 0.5s ease-in-out, box shadow 0.5s ease-in-out;
}

h1 {
    margin-top: 0;
    color: rgb(83, 236, 236);
    font-weight: 700;
}

.score {
    display: flex;
    justify-content: space-around;
    font-size: 1.3em;
    font-weight: 300;
}

.result p {
    font-size: 1.8em;
    font-weight: 400;
    height: 40px;
    color: rgb(255, 136, 0)
}

.options.buttons {
    background-color: orange;
    padding: 15px 30px 15px 30px;
    margin: 0 10px 0 10px;

    cursor: pointer;

    transition: background-color 0.3s;
    transition: transform 0.2s;
}

.options button:hover {
    background-color:rgb(20, 228, 228);
    transform: translateY(-5px)
}

.options button:active {
    transform: translateY(-2px);
}

.options button:disabled {
    background-color: darkblue;
    border-color: darkcyan;
    cursor: not-allowed;
    transform: translateY(0); 
}

@keyframes shake-hand {
    from {
        transform: rotate(15deg);
    }
    to {
        transform: rotate(-15deg);
    }
}

.player-wins-transform {
    transform: scale(1, 03) rotate(1deg);
    box-shadow: 0 0 40px rgba(7, 100, 225, 0.3);
}

.score-updated {
    transform: scale(1.6) rotate(10deg);
    color: rgba(7, 100, 225, 0.3);
}

.home-btn {
    position: fixed;
    left: 2vmin;
    top: 2vmin;
    background: rgba(255, 255, 255, 0.08);
    color: #f0f0f0;
    padding: 1vmin 1.5vmin;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    z-index: 9999;
    border: 1px solid rgba(255, 255, 255, 0.06)
}

.home-btn:hover {
    background: rgba(255, 255, 255, 0.15);
}